<footer class="footer">
  <div class="footer-container">
      <div class="footer-section">
          <h3>Programs</h3>
          <ul>
              <li><a href="#">Corporate</a></li>
              <li><a href="#">One to One</a></li>
              <li><a href="#">Consulting</a></li>
          </ul>
      </div>
      <div class="footer-section">
          <h3>Service</h3>
          <ul>
              <li><a href="#">Training</a></li>
              <li><a href="#">Coaching</a></li>
              <li><a href="#">Consulting</a></li>
          </ul>
      </div>
      <div class="footer-section">
          <h3>Contact</h3>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="#">Contact</a></li>
          </ul>
      </div>
      <div class="footer-section newsletter">
          <h3>Newsletter</h3>
          <form>
              <input type="email" placeholder="Email Address" required>
              <button type="submit">Subscribe</button>
          </form>
          <div class="social-icons">
              <a href="https://wa.me/message/IGRGQK6TKBM7G1"><img src="/src/icons/whatsapp.png" alt="WhatsApp"></a>
              <a href="#"><img src="/src/icons/youtube.png" alt="YouTube"></a>
              <a href="#"><img src="/src/icons/instagram.png" alt="Instagram"></a>
              <a href="#"><img src="/src/icons/facebook.png" alt="Facebook"></a>
              <a href="#"><img src="/src/icons/linkedin.png" alt="LinkedIn"></a>
              <a href="#"><img src="/src/icons/x.png" alt="Twitter"></a>
          </div>
          <div class="contact-info">
              <p><a href="tel:8237973040">Mobile: +91 8237973040</a></p>
              <p>Email: Placcademy.com</p>
          </div>
      </div>
  </div>
  <div class="footer-bottom">
      <a href="/"><p>© 2023 placcademy.com</p></a>
      <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Cancellation & Refund Policy</a></li>
          <li><a href="#">Shipping & Delivery Policy</a></li>
      </ul>
  </div>
</footer>